VITE_APP_NAME=WanderMint
VITE_FIREBASE_API_KEY=AIzaSyDnYdMrSkdEqVWnU9xojw3TYU7cXvIlvR4
VITE_FIREBASE_AUTH_DOMAIN=wandermint-ed491.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wandermint-ed491
VITE_FIREBASE_STORAGE_BUCKET=wandermint-ed491.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=263561246190
VITE_FIREBASE_APP_ID=1:263561246190:web:b99afe4b31c2c72ce90aff
VITE_FIREBASE_MEASUREMENT_ID=G-5S02YJ5F29
VITE_AI_GATEWAY_URL=/api/ai
